@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #f92524;
    --primary-color-dark: #e91a1a;
    --secondary-color: #faf9fe;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --white: #ffffff;
    --max-width: 1500px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.profile-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-light);
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    width: 95%;
}

.avatar-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.avatar-selection label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.avatar-selection input {
    display: none;
}

.avatar-preview {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-radius: 70%;
    transition: border-color 0.3s ease;
}

.avatar-selection input:checked + .avatar-preview {
    border-color: var(--primary-color);
}

.save-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #f92524;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #e91a1a;
}



.profile-container .ri-arrow-left-circle-line {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile-container .ri-arrow-left-circle-line:hover {
    color: #f92524;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 10px;
    transition: 0.3s;
}

.profile-avatar img:hover {
    transform: scale(1.10);
}


.form-group .error-message {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
