@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-color: #f92524;
    --primary-color-dark: #e91a1a;
    --secondary-color: #faf9fe;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --white: #ffffff;
    --max-width: 1300px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 1.3rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.topics-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}


.topics-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.topics-table tr:hover {
    background-color: #f1f1f1;
}

.topics-table a {
    text-decoration: none;
    color: black;
    font-weight: 450;
    transition: 0.3s;
    display: inline-block;
}

.topics-table a:hover{
    transform: scale(1.05);
}

.create-topic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.create-topic-form input,
.create-topic-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 16px;
}

.create-topic-form textarea {
    resize: none;
}

.create-topic-form textarea:focus, .create-topic-form input:focus {
    outline: none;
    border: 1px solid black;
}

.create-topic-form textarea::placeholder, .create-topic-form input::placeholder {
    font-family: 'Poppins', sans-serif;
}

.create-topic-form input {
    margin-bottom: 0.7rem;
}

.create-topic-form button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 520;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.create-topic-form button:hover {
    background-color: var(--primary-color-dark);
}

.create-topic-form {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-decoration: none;
}

.logo p span{
    color: var(--primary-color)
}

.logo img {
    max-width: 70px;
}

.topics-table th, .topics-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
}

.topics-table th:nth-child(1),
.topics-table td:nth-child(1) {
    width: 600px;
}

.topics-table td .author_date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topics-table td .author_date .created-at {
    font-size: 0.8rem;
}

.topics-table td {
    padding: 1rem;
}

.topics-table td i {
    font-size: 0.8rem;
}

.topics-table th:nth-child(2), .topics-table td:nth-child(2),
.topics-table th:nth-child(3), .topics-table td:nth-child(3) {
    text-align: center;
}

.search-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.search-bar {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.search-bar::placeholder {
    font-family: 'Poppins', sans-serif;
}


.button-container  {
    display: flex;
    justify-content: right;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}


.add-topic-button {
    padding: 0.3rem 0.7rem;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.add-topic-button:hover {
    background-color: var(--primary-color-dark);
    transform: scale(1.10);
}

.search-bar:focus {
    outline: none;
    border: 1px solid black;
}

form .messages {
    color: red;
    font-size: 0.7rem;
}

form .messages ul {
    list-style-type: none;
    margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
    * {
        --max-width: 768px;
    }

    .search-bar {
        width: 40vw;
    }

}

@media (max-width: 480px) {
    * {
        --max-width: 468px;
    }

    .search-bar {
        width: 40vw;
    }

}